:root {


/*  Colors   */
    --primary-color-blue: #108AEE;
    --primary-color-dark-gray: #08133A;
    --secondary-color-sea-blue: #CCE8FF;
    --secondary-color-gray: #2D3658;
    --secondary-color-medium-gray: #455387;
    --base-black: #00000;
    --text-color-title: #2E2E2E;
    --text-white: #FFFFFF;
    --fade-disabled-color: #E6E6E6;
    --text-field-color: #CCCCCC;
    /*--body-color:*/


/*  Font size*/
    --regular-font-size: 16px;

/* text size   */
/*    --heading-two: 64px;*/

}


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.btn-with-bg {
    width: 200px;
    height: 50px;
    background-color: var(--primary-color-blue);
    border: none;
    color: var(--text-white);
    transition: background-color 0.3s, border 0.3s;
}

.btn-with-bg:hover {
    background-color: transparent;
    border: 1px solid var(--text-white);
    cursor: pointer;
}

.btn-without-bg {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--text-white);
    color: var(--text-white);
    transition: background-color 0.3s, border 0.3s;
}

.btn-without-bg:hover {
    background-color: var(--primary-color-blue);
    /*border: 1px solid var(--text-white);*/
    border: none;
    cursor: pointer;
}

.btn-without-bg-with-icon {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--text-white);
    color: var(--text-white);
    font-size: 1.2rem;
    transition: background-color 0.3s, border 0.3s;
}

.btn-without-bg-with-icon:hover {
    background-color: var(--primary-color-blue);
    cursor: pointer;
    border: none;
}

.two-columns {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.col-left, .col-right{
    width: 50%;
}







body {
    background-color: var(--primary-color-dark-gray);
}

header {
    background-image: url("../assets/images/Hero.png");
    /*height: 616px;*/
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 10%;
    /*width: 10%;*/
    display: flex;
    max-width: 64px;
    justify-content: flex-start;
    align-items: center;
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav-links a {
    color: var(--text-white);
    font-size: var(--regular-font-size);
    text-decoration: none;
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    transition: all 0.3s;
}
.nav-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--primary-color-blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.nav-links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.social-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-left: 30px;
}

.social-links .social-media-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.social-icons {
    font-size: 16px;
    color: white;
}

.social-icons:hover {
    color: var(--primary-color-blue);
    cursor: pointer;
}



.register-btn {
    margin-bottom: 10px;
}

.container {
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .conf-index {
    font-size: 1.2rem;
    width: 10%;
    color: var(--text-white);
}

.container .title {
    font-size: 4.5rem;
    font-weight: bold;
    width: 50%;
    line-height: 5.5rem;
    color: var(--text-white);
    margin-bottom: 40px;
}

.header-conf-schedule {
    display: flex;
    /*align-self: center;*/
    /*justify-content: center;*/
    /*column-gap: 35px;*/
}

.venue-details{
    color: var(--text-white);
}

.venue-details .date {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.book-ticket {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

/* About info section */

.about-info {
    color: var(--text-white);
    height: 550px;
    display: flex;
    align-items: center;
}

.two-columns .big {
    width: 60%;
}
.two-columns .small {
    width: 40%;
    margin-left: 50px;
}

.col-left h2 {
    font-size: 3.8rem;

}

/*.col-right {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.about-text {
    width: 80%;
    color: var(--fade-disabled-color);
    padding-bottom: 20px;
    line-height: 2rem;
}

.img-container {
    display: flex;
    overflow: hidden;
    width: 1240px;
    column-gap: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.img-container img {
    width: 50%;
    height: auto;
    display: block;
}



.slider-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--base-black);
    font-size: 1.8rem;
    padding: 13px 15px;
    border-radius: 50%;
    background-color: white;
    /*border: none;*/
    transition: background-color .3s, border .4s;
}

.slider-icon:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--text-white);
    border: 1px solid var(--primary-color-blue);
    /*transform: scale(.5);*/
}

/* event's short details */

.event-details {
    display: flex;
    color: white;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.short-details-icons {
    font-size: 2.5rem;
    color: var(--primary-color-blue);
}
.days, .speakers, .panel, .workshop {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.d-text {
    font-size: 1.2rem;
}

/* Schedule details*/
.event-schedule {
    height: 650px;
}
.event-schedule .schedule-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--text-white);
}

.event-schedule .schedule-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-white);
    margin-bottom: 30px;

}
.img-wrapper-left {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.img-wrapper-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-schedule .col-right .time .day{
    font-size: 2rem;
    color: var(--text-white);
    font-weight: 700;
    margin-bottom: 5px;
}

.event-schedule .col-right .time .date {
    font-size: 1rem;
    color: var(--text-white);
    font-weight: 400;
    margin-bottom: 20px;
}

.event-schedule .col-right .event-description .description-title {
    font-size: 1.6rem;
    color: var(--text-white);
    font-weight: 400;
    margin-bottom: 10px;
}

.event-schedule .col-right .event-description .description {
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.event-schedule .event-description .profile{
    display: flex;
    column-gap: 10px;
}
.event-schedule .event-description .profile img {
    border-radius: 50%;
    /*box-shadow: 5px 5px 10px 1px #eee7e7;*/
}

.event-schedule .event-description .profile .designation h3 {
    font-size: 1rem;
    color: var(--text-white);
    font-weight: 400;
}

.event-schedule .event-description .profile .designation p {
    font-size: .9rem;
    color: var(--fade-disabled-color);
}

/* Event speakers*/
.event-speakers {
    height: 570px;
    margin-bottom: 100px;
}

.event-speakers h2 {
    font-size: 4rem;
    color: var(--text-white);
    font-weight: bold;
    margin-bottom: 50px;
}

.speakers-profile {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}

.speaker-one img,.speaker-two img, .speaker-three img, .speaker-four img {
    border-radius: 50%;
    border: 8px solid var(--primary-color-blue);
    margin-bottom: 15px;
    /*background-size: contain;*/
}

.speaker-one, .speaker-two, .speaker-three, .speaker-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speakers-profile .speaker-name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-white);
}
.speakers-profile .speaker-designation {
    font-size: .9rem;
    font-weight: 400;
    color: var(--fade-disabled-color);
}

/* Venue details*/
.venue-img {
    /*margin-top: 200px;*/
}
.venue-details {
    margin-bottom: 100px;
}
.venue-details .venue {
    margin-right: 50px;

}

.venue-details .col-right h4 {
    font-size: 1.5rem;
    color: var(--text-white);
    font-weight: 700;
    margin-bottom: 20px;
}

.venue-details .col-right p {
    width: 95%;
    margin-bottom: 20px;
    color: var(--fade-disabled-color);
    line-height: 1.8rem;
}

/* Price section*/

.price-details {
    height: 690px;
}

.price-details .tickets-info h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-white);
    margin-bottom: 20px;

}
.price-details .tickets-info p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fade-disabled-color);
    width: 50%;
    margin-bottom: 50px;
}

.price-cards {
    display: flex;
    column-gap: 25px;
}

.regular-price, .golden-price, .platinum-price {
    width: 400px;
    height: 335px;
    background-color: var(--secondary-color-gray);
    border-radius: 10px;
    padding: 30px;
    transition: background-color 0.3s;
}
.regular-price:hover, .golden-price:hover, .platinum-price:hover {
    background-color: var(--secondary-color-medium-gray);
    cursor: pointer;
}
.price-cards .price-category {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fade-disabled-color);
    margin-bottom: 20px;
}

.price-cards .price {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-white);
    margin-bottom: 20px;

}

.price-cards .description {
    font-size: 1rem;
    color: var(--text-white);
    margin-bottom: 30px;
}

.price-cards .price-icon {
    margin-right: 8px;
}

/* Sponsors section*/
.sponsors {
    height: 300px;
}
.sponsors h2 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-white);
    margin-bottom: 50px;
}

.sponsors-img-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1240px;
}

.sponsors-img-grid-container img {
    width: 200px;
    height: 100px;
    background-size: contain;
    overflow: hidden;
}

/* Email subscription */
.email-subscription {
    height: 580px;
    margin-top: 100px;
}

.email-subscription .sub-title {
    font-size: 4rem;
    color: var(--text-white);
    font-weight: bold;
    margin-bottom: 50px;

}
.subs-container {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.form-container {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;

}
.form-flex-container {
    display: flex;
    column-gap: 30px;
    /*flex-direction: column;*/
}

form label {
    margin-bottom: 10px;
    color: var(--text-white);
}

form #email {
    width: 300px;
    height: 50px;
}

.form-container input::placeholder {
    padding: 10px;
    color: var(--text-field-color);
}

/* Footer section */

.footer-area {
    padding-top: 50px;
    height: 200px;
    background-color: var(--secondary-color-gray);
}

.copy-write {
    display: flex;
    justify-content: center;
}

.copy-write p {
    color: var(--text-white);
}

.copy-write a {
    text-decoration: none;
    color: var(--fade-disabled-color);
}

.copy-write a:hover {
    color: var(--primary-color-blue);
}