/* all schedule related css goes here */
body {
}
header {
    background-image: url("../assets/images/schedule_hero_img_ov.svg");
    /*height: 616px;*/
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    /*position: relative;*/

    /*position: sticky;*/
}

/*.np {*/
/*    position: fixed;*/
/*}*/
header .active {
    color: var(--primary-color-blue);
}

.day-container {
    display: flex;
    justify-content: center;
    height: 850px;
    column-gap: 50px;
    margin-top: 100px;
}

.sch-p-col-right {
    display: flex;
    flex-direction: column;
    /*row-gap: 30px;*/
    /*!*width: 100%;*!*/
}
.sch-p-time {
    /*width: 30%;*/
}

.sch-p-col-left .sch-p-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-white);
    margin-bottom: 30px;
}

.sch-p-col-left .sch-p-description {
    font-size: 1rem;
    color: var(--text-white);
    font-weight: 400;
    width: 70%;
}

.sch-p-col-right .sch-p-time {
    font-size: 1.2rem;
    color: var(--fade-disabled-color);
    margin-bottom: 20px;
}

.sch-p-talk-desc .sch-p-talk-title {
    font-size: 2.8rem;
    color: var(--text-white);
    margin-bottom: 20px;

}

.sch-p-talk-desc .sch-p-title-desc {
    color: var(--fade-disabled-color);
    font-size: 1rem;
    margin-bottom: 20px;
}

.sch-p-speaker-profile {
    display: flex;
    /*justify-content: space-between;*/
    column-gap: 30px;
}

.sch-p-col-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.sch-p-speaker-profile .img-wrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.sch-p-speaker-profile .img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--primary-color-blue);
    object-fit: cover;
}

.sch-p-col-right-container {
    color: var(--text-white);
}